//Colors
$color-primary:#eee;
$color-white:#fff;
$color-black:#000;

//Stiftungsfarben
$color-foundationblue: #002D72;
//Geschäftsbereichsfarben
$color-bu-yellow: #f7c000;
$color-bu-violet: #980058;
$color-bu-red: #d4314a;
$color-bu-lightblue: #006ca7;
$color-bu-darkblue: #055166;
$color-bu-darkgreen: #018f78;
$color-bu-lightgreen: #95c21f;  

//FONT
$default-font-size:1.6rem;


